@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700');

@charset "UTF-8";
/********* Web Fonts *******/

  
@font-face {font-family: 'ManifoldDSA-ExtraBold';src: url('webfonts/ManifoldDSA-ExtraBold.eot');src: url('webfonts/ManifoldDSA-ExtraBold.eot?#iefix') format('embedded-opentype'),url('webfonts/ManifoldDSA-ExtraBold.woff2') format('woff2'),url('webfonts/ManifoldDSA-ExtraBold.woff') format('woff'),url('webfonts/ManifoldDSA-ExtraBold.ttf') format('truetype');}
 
  
@font-face {font-family: 'ManifoldDSA-Medium';src: url('webfonts/ManifoldDSA-Medium.eot');src: url('webfonts/ManifoldDSA-Medium.eot?#iefix') format('embedded-opentype'),url('webfonts/ManifoldDSA-Medium.woff2') format('woff2'),url('webfonts/ManifoldDSA-Medium.woff') format('woff'),url('webfonts/ManifoldDSA-Medium.ttf') format('truetype');}

@import 'vendor/normalize';
@import 'variables-and-mixins';
@import 'elements';
@import 'utility';

// Components
@import 'layout';
@import 'issues';
@import 'hypothesis';
@import 'call';
@import 'about';
@import 'loadingAnimation';

// Debug
// @include debug-layout();

body {
	background: url(../img/background.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: ManifoldDSA-Medium, Helvetica, Tahoma, Sans-Serif;
}

.layout__main {
	color: white;
}

.hypothesis__title, .callcount, .call__title {
	text-transform: none;
}

.logo__header {
	background-color: #ec1f27;
}

.issues-list__item__title {
	color: #ec1f27;
}

.issues__header h2 {
	color: #231F20;
}

.issues-list__item, .issues__header h2 {
	background-color:white;
}

.issues-list__item:hover {
	background-color: rgba(02,02,05,0.25);
}

.issues-list {
	background: none;
}

.issues__header {
	text-align: left;
}

.issues__title {
	color: black;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
}

.issues__title__logo {
	float: left;
	margin: 0 1rem 0 0;
	height: 4.5rem;
	width: auto;
}

.call__outcomes__items button {
	background-color: #ec1f27;
	color: white;
	text-transform:none;
	font-weight: normal;
	border-radius: 0;
	border: 1px solid white;
	margin: 2px 3px;
}

.issues__location p {
	padding: 0 0 0 12px;
}

.dsa__return {
	padding: 1rem 2rem;
    border: 1px solid;
    margin-bottom: 1rem;
    display: flex;
    background-color: #ec1f27;
    max-width: 1024px;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
}

footer {
	background-color: transparent;
}

.promote a {
	background-color: white;
    padding: 0.5rem 1rem;
    border: 1px solid #e53935;
}